body{
	margin-top: 50px;
	margin-left: 100px;
	margin-bottom: 50px;
	background-color: #d3d3d3;
}

#title{
	font-weight: bold;
	text-decoration: underline;
}

#quotes{
	font-style: italic;
}

p{
	margin: 7px;
}

.venkman{
	color: #990000;
}

.dana{
	color: #00007f;
}

.stantz{
	color: #004000;
}

.mayor{
	color: #400040;
}

#spengler{
	color: #404040;
}

#zeddmore{
	color: #ffd700;
}

.descriptions{
	font-weight: bold;
	font-style: italic;
	text-transform: uppercase;
}

b{
	text-transform: uppercase;
}